/* colors.css */
:root {
    /* Primary (blue) */
    --color-primary-50: #efefff;
    --color-primary-100: #e3d9ff;
    --color-primary-200: #d1c0ff;
    --color-primary-500: #6F5CFF;
    --color-primary-600: #5949FF;
    --color-primary-700: #4B40FF;
    --color-primary-800: #3D39F4;
    --color-primary-900: #253358;

    /* Secondary (green) */
    --color-secondary-50: #F0FDF4;
    --color-secondary-100: #E7FCE8;
    --color-secondary-200: #D4F8D5;
    --color-secondary-500: #4CD964;
    --color-secondary-600: #37B34A;
    --color-secondary-700: #2E8E3F;
    --color-secondary-800: #266F34;

    /* Gray */
    --color-gray-50: #ffffff;
    --color-gray-100: #f7f7f7;
    --color-gray-200: #ededed;
    --color-gray-300: #e0e0e0;
    --color-gray-400: #cfcfcf;
    --color-gray-500: #b1b1b1;
    --color-gray-600: #8c8c8c;
    --color-gray-700: #666666;
    --color-gray-800: #3f3f3f;
    --color-gray-900: #1f1f1f;


}